.app {
  margin: 3rem;
}

.titleSearch {
  display: flex;
  flex-direction: row;
  padding: 2rem 3rem 2rem 3rem;
  justify-content: space-evenly;
}
.title {
  width: 40%;
  display: flex;
  justify-content: flex-start;
  color: white;
}

.inputField {
  padding: 0.9rem;
  text-align: center;
}
.inputButton {
  display: flex;
  height: 2rem;
  justify-content: flex-end;
  align-self: center;
}
.buttonSearch {
  width: 3rem;
  height: 2.1rem;
  cursor: pointer;
  background-color: #ad467e;
}
.buttonSearch:hover {
  background-color: #8a3864;
}
.icon {
  color: white;
  width: 2rem;
}
